/* Home */
.intro{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.background-first-shoe h1{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 180px;
  color: #8D8D8D;
  opacity: 40%;
}
.cover{
  height: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.top{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.top img{
  width: 78%;
}
.aj1{
  width: 38%;
}

/*Plimsoll*/
.One{
  margin-top: 100px;
  height: 730px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-shoe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-shoe p{
  text-align: center;
  width: 60%;
}
.plimsoll{
  margin-top: 70px;
  width: 38%;
}