/* Home */
.intro{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.sneakers {
  position: absolute;
  z-index: 1; 
}

.sneakers img {
  max-width: 100%;
  max-height: 100%;
}
.background-first-shoe h1{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 180px;
  color: #8D8D8D;
  opacity: 40%;
}
.cover{
  height: 100%;
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.top{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-top: 50px;
}
.top h1{
  font-family: "Bropella",sans-serif;
  color: #6E4E3A;
  font-size: 80px;
  letter-spacing: 4px;
  display: inline;
  position: relative;
}
.top h1::after {
  content: ""; 
  display: inline-block;
  width: 3px; 
  height: 1em; 
  background-color: #6E4E3A; 
  margin-left: 5px;
  position: absolute;
  right: -10px; 
  top: 0;
  animation: blink 1s step-end infinite; 
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.top img{
  width: 78%;
}

.aj1{
  width: 38%;
}

/*Plimsoll*/
.One{
  margin-top: 100px;
  height: 730px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-shoe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-shoe p{
  text-align: center;
  width: 60%;
}
.plimsoll{
  margin-top: 70px;
  width: 38%;
}

/*Convers & Dassler*/
.Two{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 150px auto;
  width: 90%;
  height: 730px;
}
.convers{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  flex-direction: column;
}
.dassler{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  flex-direction: column;
}
.convers p{
  text-align: center;
  margin-top: 50px;
  width: 60%;
}
.dassler p{
  text-align: center;
  width: 60%;
}
.dassler h2{
  font-size: 120px;
}
.convers-img{
  width: 60%;
}
.dassler-img{
  width: 80%;
}

/*Nike*/
.Three{
  margin: 0 auto;
  width: 90%;
  height: 730px;
  display: flex;
  flex-direction: column;
}
.nike{
  display: flex;
  align-items: center;
  align-items: center;
  flex-direction: row;
}
.jordan{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 80px;
}
.txt{
  width: 50%;
}
.txt h2{
  margin-bottom: 30px;
}
.txt p{
  margin-top: 15px;
}
.nike-shoe-img{
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.nike-shoe-img img{
  width: 50%;
}
.jordan-shoe-img{
  display: flex;
  justify-content: flex-start;
  width: 50%;
}
.jordan-shoe-img img{
  width: 58%;
}

/*End*/
.Four{
  margin: 100px 0px;
  height: 730px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.last-shoe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.last-shoe p{
  text-align: center;
  width: 60%;
}
.sneaker{
  margin-top: 70px;
  width: 35%;
}