@font-face {
  font-family: 'Bropella';
  src: url('./fonts/Bropella.ttf');
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(./fonts/HelveticaNeueBlack.otf);
}

@font-face {
  font-family: 'Helvetica';
  src: url(./fonts/Helvetica.ttf);
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url(./assets/Background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
h1{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 180px;
  color: #8D8D8D;
  opacity: 40%;
}
h2{
  font-family: "Bropella",sans-serif;
  color: #6E4E3A;
  font-size: 76px;
}

h3{
  font-family: "Helvetica Neue",sans-serif;
  font-size: 30px;
  color: #7A7979;
}
p{
  font-family: 'Helvetica',sans-serif;
  font-size: 17px;
}
